#title {
    background-color: #d6e2e9;

}

h1 {
    font-size: 2.8rem;
    line-height: 1.5;
}

.container-fluid {
    padding: 0% 0%;
}

a{
    text-decoration: none;
    color: black;
}


/* NAVBAR */

.navbar-brand {
    /* font-family: ; */
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 5rem;
    font-family: 'Iceland', cursive;
    /* font-family: 'Noto Serif Khojki', serif; */
}

#navabar {
    background-color: #ecf8f8;
    padding: 0% 0%;
    padding-bottom: 0 0 1rem;
    box-sizing: border-box;
}

.nav-item {
    padding: 0 30px;
}

.nav-link {
    font-size: 1.2rem;
    /* font-family: 'Noto Serif Khojki', serif; */
    font-family: 'Iceland', cursive;
}

/* BUTTON */

.resume-button {
    margin: 5% 3% 5% 0;
}

/* IMAGES */

.img-fluid {
    margin-left: 10%;
    margin-bottom: 5%;
}

/* SITE INFO */

.site-banner {
    padding: 7% 15%;
    margin: 3% 1% 2% 0;
    margin-bottom: 0%;
}




#my-skills{
    padding: 5% 10%;
}


/* SKILLS SECTION  */

.skill-tittle {
    text-align: center;
    /* font-weight: bold; */
    margin-bottom: 3rem;
    margin-top: 2rem;

}

.skill-photo {
    /* margin-left: 2%; */
    background-color: ecf8f8;
    padding-left: 7rem;
}

.image {
    margin-bottom: 2rem;
}



/* PROJECT TITLE  */

#my-projects {
    padding: 7% 15%;
    
}

.projects-title {
    margin-top: 0%;
    text-align: center;
    /* font-weight: bold; */
    margin-bottom: 3rem;
}

.card-spaceing {
    /* margin-left: 7.5%;
    margin-right: 4%;
    margin-bottom: 4%; */
    margin-left: 2px;
    margin-right: 27px;

}


/* FOOTER */

#footer{
    padding: 10% 15%;
    text-align: center;
    background-color: #d6e2e9;
}

.social-media{
    margin: 20px 50px;
}

.sss{
    text-decoration: none;
}